<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>From : <%= @from %></p>
        <p>To : <%= @to %></p>
        <p>Amount : <%= @amount %></p>
        <p>Result : <%= @result %></p>
    </body>
</html>