<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>환율 정보 페이지</h1>
        <form action="/convert">
            <p>기준통화</p>
            <select name="from">
                <option value="USD">달러</option>
                <option value="EUR">유로</option>
                <option value="JPY">엔</option>
            </select>
            <p>환전통화</p>
            <select name="to">
                <option value="USD">달러</option>
                <option value="EUR">유로</option>
                <option value="JPY">엔</option>
            </select>
            <p>금액</p>
            <input type="text" name="amount">
            <input type="submit">
        </form>
    </body>
</html>