<!DOCTYPE html>
<html>
    <head>
        <%= erb :bootstrap %>
        <title>로또번호추천</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <%= erb :nav %>
        <h3><API로 로또 번호 받아오기</h3>
        <p>로또번호 <%=@lotto%> + 보너스번호 <%=@bonus%></p>

    </body>
</html>