<!DOCTYPE html>
<html>
    <head>
        <%= erb :bootstrap %>
        <title>로또번호추천</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <%= erb :nav %>
        <div class="jumbotron">
          <h1 class="display-4">로또번호 추천받기</h1>
          <p class="lead"> AI와 빅데이터를 통해 사용자에게 최상의 번호를 추천해드립니다.</p>
          <hr class="my-4">
          <p> 한달 $1로 부자가 되어보세요!</p>
          <a class="btn btn-primary btn-lg" href="/result" role="button">추천받기</a>
        </div>
    </body>
</html>